[submodule "bsp05-houssel-paul-technical-scientifical-report"]
	path = bsp05-houssel-paul-technical-scientifical-report
	url = https://github.com/jetlime/bsp05-houssel-paul-technical-scientifical-report
